<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Change_Password</title>
  <link rel = "icon" href ="/static/images/logo.png" type = "image/x-icon"> 
	<link rel="stylesheet" type="text/css" href="/static/css/style-nav.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="">
    <meta name="author" content="">
   

    

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<style>
body {
  padding-top: 0px;
}
.spacer {
  margin-top: 2%;
  margin-bottom: 2%;
}      
 
.block2 {
  min-height: 160px;
  padding-top: 15px; 
} 
.center {
  position: absolute;

  left: 0;
  right: 0;
  margin: auto;  
}

</style>

</head>

<body style="background-image:url('/static/images/login.jpg')">
{% from "includes/_formhelpers.html" import render_field %} 

			<nav>
				<div class="logo">
				<br>
				<a class="navbar-brand" href="#" >
				<img src="/static/images/logo.png" class="img-circle" style="background-color:#f6f6f6;height:125%;display:inline-block;"><span style="color:#01d7a7;font-size:25px">Hospital Management System</span>
				</a>
					
				</div>
				<ul>
					<li><a href="/">HOME</a></li>
					<li><a href="/login?role={{session['role']}}">LOGIN</a></li>
					
					
				</ul>
			</nav>
			

 {% include 'includes/_messages.html' %}          
<br>
<br><br><br><br>
 
      <div class="col-lg-12" >
        
        <div class="row col-xs-4 block2  center" style="background-color:white; border: 1px solid green;">
		<h3 style="text-align:center"><b>Change Password</b></h3>
            
            <form method="post" action="/forget_password/{{ id }}"  class="form-horizontal" role="form" align="center">
            <br>
			<div class="form-group" >
                <label class="control-label col-sm-5"  for="username">New Password:</label>
                <div class="col-sm-6 col-xs-12">
                    {{render_field(form1.newpass, class_="form-control" ,placeholder="Enter New Password")}}
                </div>
            </div> 
			<br>
            <div class="form-group">
                <label class="control-label col-sm-5" for="password">Confirm Password:</label>
                <div class="col-sm-6 col-xs-12">            
						{{render_field(form1.confpass, class_="form-control" ,placeholder="Confirm password")}}
					</div>
            </div>
		<br>
            <div class="form-group"> 
                <div class="col-sm-offset-5 col-sm-8">  
                    <input type="submit" name="submit" id="submit" value="submit" class="btn btn-success"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					
                </div>
            </div>  
			 			
        </form>
        </div>
            
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
</body>
</html>